html {
    background: rgb(5,73,32) no-repeat center center fixed;
    background: linear-gradient(140deg, rgba(5,73,32,1) 0%, rgba(0,228,144,1) 100%) no-repeat center center fixed;
    font-family: 'Sora', sans-serif;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#main {
    align-content: center;
}